/* Estilos para o menu horizontal */
nav {
    /* background-color: #444; */
    padding: 10px 0;
    z-index: 2; /* Para garantir que o menu esteja acima do vídeo */
    position: absolute; /* Define o posicionamento absoluto para o menu */
    bottom: 0px; /* Alinha o menu no topo da página */

    background-color:  #005047;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}
nav ul li {
    display: inline;
    /* margin-right: 20px; */
    border-right: 1px solid #fff;
}

nav ul li:last-child {
    border-right: none;
  }
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px; /* Adiciona preenchimento ao link */
    border-radius: 5px; /* Adiciona bordas arredondadas */
}
/* Estilos para o link ativo */
nav ul li a.active {
    color: #F2C511;
    /* text-decoration: underline #b8f5cf; */
}
nav ul li:hover a{
    color: #F2C511;
    /* text-decoration: underline #b8f5cf; */
}




  /* Estilos para dispositivos com largura até 600px (smartphones em modo retrato) */
@media only screen and (max-width: 600px) {
    nav{
        display: none;
    }
  }
  
  /* Estilos para dispositivos com largura entre 601px e 900px (smartphones em modo paisagem e tablets em modo retrato) */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    nav{
        display: block;
        font-size: 10px;
    }
    nav ul li a {
        font-size: 14px;
    }
  }
  
  /* Estilos para dispositivos com largura entre 901px e 1200px (tablets em modo paisagem e desktops) */
  @media only screen and (min-width: 901px) and (max-width: 1200px) {
    nav{
        display: block;
    }
    nav ul li a {
        font-size: 16px;
    }
  }
  
  /* Estilos para dispositivos com largura acima de 1200px (desktops grandes e telas largas) */
  @media only screen and (min-width: 1201px) {
    nav{
        display: block;
    }
    nav ul li a {
        font-size: 16px;
    }
  }