/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../assets/others/sourceSansPro/sourcesanspro-regular-webfont.woff') format('woff');
}


html {
    margin-right: 4px;
    margin-left: 4px;
    padding: 0;
    height: 100%;
  }

  #body{
    font-family: 'Source Sans Pro Regular',  sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #005047;
  }
  
  .ml-2{
    margin: 0vh 0vh 0vh 4vh;
  }

  .mb-2{
    margin-bottom: 2vh;
  }

  .container {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .home{
    max-width: 1200px;
  }
  
  #titulo {
    text-align: center;
  }
  
  .content {
    display: flex;
    align-items: flex-start;
  }
  
  .images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .images img {
    width: 518px;
  }
  
  .text {
    flex: 1;
    font-weight: bolder;
    color: rgb(80, 80,80);
  }

  .pl-2{
    /* padding-left: 20px; */
    padding: 0vh 0vh 0vh 4vh;
  }

  #btnTopo {
    display: none; /* Inicialmente oculta o botão */
    position: fixed;
    bottom: 25px;
    right: 20px;
    background-color: #00BA8D;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  #btnTopo:hover{
    background-color: #005047;
  }

  #btnTopo img{
    width: 3vh;
    transform: rotate(270deg);
  }

/* Estilos para dispositivos com largura até 600px (smartphones em modo retrato) */
@media only screen and (max-width: 600px) {
  .content{
    flex-direction: column;
    align-items: center;
  }
  .images img{
    width: 35vh;
    height: 25vh;
  }
}

/* Estilos para dispositivos com largura entre 601px e 900px (smartphones em modo paisagem e tablets em modo retrato) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .content{
    flex-direction: column;
    align-items: center;
  }
  .images img{
    width: 50vh;
    height: 35vh;
  }
}